sql로 EDA

CSV -> db 변환 (sql 사용을 위함)

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# CSV 경로 (EDA.ipynb 기준 상대경로)
csv_path = "../datasets/PaySim.csv"

# CSV 로드
df = pd.read_csv(csv_path)

# SQLite DB 생성/연결 (local DB 파일 생성됨)
engine = create_engine("sqlite:///paysim.db")

# PaySim이라는 테이블명으로 저장
df.to_sql("PaySim", engine, if_exists="replace", index=False)

print("테이블 생성 완료!")

테이블 생성 완료!

In [1]:
%load_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql sqlite:///paysim.db

---

### **✔️  1. 기본 구조 확인**

1) 컬럼 정보 확인

In [22]:
%%sql
PRAGMA table_info(PaySim);

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[(0, 'step', 'BIGINT', 0, None, 0),
 (1, 'type', 'TEXT', 0, None, 0),
 (2, 'amount', 'FLOAT', 0, None, 0),
 (3, 'nameOrig', 'TEXT', 0, None, 0),
 (4, 'oldbalanceOrg', 'FLOAT', 0, None, 0),
 (5, 'newbalanceOrig', 'FLOAT', 0, None, 0),
 (6, 'nameDest', 'TEXT', 0, None, 0),
 (7, 'oldbalanceDest', 'FLOAT', 0, None, 0),
 (8, 'newbalanceDest', 'FLOAT', 0, None, 0),
 (9, 'isFraud', 'BIGINT', 0, None, 0),
 (10, 'isFlaggedFraud', 'BIGINT', 0, None, 0),
 (11, 'signup_step', 'BIGINT', 0, None, 0),
 (12, 'isActivation', 'BIGINT', 0, None, 0),
 (13, 'isReferral', 'BIGINT', 0, None, 0)]

2) 전체 행 개수 확인

In [28]:
%%sql
SELECT COUNT(*) AS total_rows
FROM PaySim;

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[(114957,)]

3) 숫자형 컬럼들의 기본 통계 요약

In [30]:
%%sql
SELECT
    MIN(amount) AS min_amount,
    MAX(amount) AS max_amount,
    AVG(amount) AS avg_amount,
    SUM(amount) AS total_amount,
    MIN(oldbalanceOrg) AS min_oldOrg,
    MAX(oldbalanceOrg) AS max_oldOrg,
    AVG(oldbalanceOrg) AS avg_oldOrg
FROM PaySim;

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[(0.92, 36973901.85, 180774.60720133607, 20781306520.04399, 0.0, 33593209.9, 844075.735727881)]

4) 고유값 조회

In [27]:
%%sql
SELECT DISTINCT type FROM PaySim;

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[('CASH_IN',), ('PAYMENT',), ('TRANSFER',), ('CASH_OUT',), ('DEBIT',)]

---

### **✔️  2. 결측치 / 데이터 품질 점검**

5) 컬럼별 결측치 개수

In [31]:
%%sql
SELECT
    SUM(CASE WHEN step IS NULL THEN 1 ELSE 0 END) AS step_null,
    SUM(CASE WHEN type IS NULL THEN 1 ELSE 0 END) AS type_null,
    SUM(CASE WHEN amount IS NULL THEN 1 ELSE 0 END) AS amount_null,
    SUM(CASE WHEN nameOrig IS NULL THEN 1 ELSE 0 END) AS nameOrig_null,
    SUM(CASE WHEN oldbalanceOrg IS NULL THEN 1 ELSE 0 END) AS oldbalanceOrg_null,
    SUM(CASE WHEN newbalanceOrig IS NULL THEN 1 ELSE 0 END) AS newbalanceOrig_null,
    SUM(CASE WHEN nameDest IS NULL THEN 1 ELSE 0 END) AS nameDest_null,
    SUM(CASE WHEN oldbalanceDest IS NULL THEN 1 ELSE 0 END) AS oldbalanceDest_null,
    SUM(CASE WHEN newbalanceDest IS NULL THEN 1 ELSE 0 END) AS newbalanceDest_null,
    SUM(CASE WHEN isFraud IS NULL THEN 1 ELSE 0 END) AS isFraud_null,
    SUM(CASE WHEN isFlaggedFraud IS NULL THEN 1 ELSE 0 END) AS isFlaggedFraud_null,
    SUM(CASE WHEN signup_step IS NULL THEN 1 ELSE 0 END) AS signup_step_null,
    SUM(CASE WHEN isActivation IS NULL THEN 1 ELSE 0 END) AS isActivation_null,
    SUM(CASE WHEN isReferral IS NULL THEN 1 ELSE 0 END) AS isReferral_null
FROM PaySim;

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]

5) 중복 행 개수

SQLite에서는 아래처럼 전체 행 중복을 직접 비교하는 기능이 없음
-> 문자열을 이어 붙이는(concatenation) 연산자를 사용해 여러 컬럼을 하나로 붙여서 각 row를 하나의 문자열 key처럼 취급
-> 중복된 문자열 key 개수를 세는 방식

In [32]:
%%sql
SELECT COUNT(*) - COUNT(DISTINCT step || type || amount || nameOrig || nameDest) 
AS approx_duplicate_rows
FROM PaySim;

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[(0,)]

---

### **✔️  3. Fraud 데이터 분석에 필요한 기본 숫자/관계**

7) Fraud 비율

In [33]:
%%sql
SELECT
    isFraud,
    COUNT(*) AS cnt,
    ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM PaySim), 2) AS ratio
FROM PaySim
GROUP BY isFraud;

 * sqlite:///paysim.db
   sqlite:///test.db
Done.

[(0, 114786, 99.85), (1, 171, 0.15)]

8) Flagged Fraud 비율

In [2]:
%%sql
SELECT
    isFlaggedFraud,
    COUNT(*) AS cnt
FROM PaySim
GROUP BY isFlaggedFraud;

 * sqlite:///paysim.db
Done.

[(0, 114956), (1, 1)]

9) Fraud 트랜잭션에서 amount 평균/최대/합계

In [3]:
%%sql
SELECT
    AVG(amount) AS avg_fraud_amount,
    MAX(amount) AS max_fraud_amount,
    SUM(amount) AS total_fraud_amount
FROM PaySim
WHERE isFraud = 1;

 * sqlite:///paysim.db
Done.

[(1272081.2662097088, 10000000.0, 217525896.52186018)]

10) Fraud 거래의 잔액 변화 특징

In [5]:
%%sql
SELECT
    AVG(oldbalanceOrg) AS avg_oldbalance,
    AVG(newbalanceOrig) AS avg_newbalance,
    AVG(oldbalanceDest) AS avg_dest_old,
    AVG(newbalanceDest) AS avg_dest_new
FROM PaySim
WHERE isFraud = 1;

 * sqlite:///paysim.db
Done.

[(1309573.048128655, 56360.409999999996, 267416.90771929827, 815817.2914619884)]

---

### **✔️  4. 잔액 관련 관계 분석**

11) 송금자(oldbalanceOrg) - 거래금액(amount) 관계

In [10]:
%%sql
SELECT
    ROUND(oldbalanceOrg / 1000000) AS org_balance_bin, 
    COUNT(*) AS cnt,
    AVG(amount) AS avg_amount
FROM PaySim
GROUP BY org_balance_bin
ORDER BY org_balance_bin;

 * sqlite:///paysim.db
Done.

[(0.0, 98728, 182256.34169140868),
 (1.0, 3945, 166079.91113744225),
 (2.0, 1951, 174606.95399281668),
 (3.0, 1707, 176156.35622487628),
 (4.0, 1332, 173880.14397377888),
 (5.0, 1209, 192990.5712991777),
 (6.0, 977, 162948.22530403858),
 (7.0, 842, 171712.72667887845),
 (8.0, 764, 161242.49720117118),
 (9.0, 606, 189790.1767834765),
 (10.0, 478, 188966.975550907),
 (11.0, 396, 150514.66275835087),
 (12.0, 236, 221784.70371305384),
 (13.0, 169, 209466.21316764608),
 (14.0, 201, 146350.73923008933),
 (15.0, 168, 156900.04349553658),
 (16.0, 162, 155834.10517898592),
 (17.0, 138, 151835.2607442095),
 (18.0, 117, 152087.15011610833),
 (19.0, 113, 143282.16824311484),
 (20.0, 111, 165650.68621796637),
 (21.0, 100, 149128.17897454207),
 (22.0, 97, 159173.15035842842),
 (23.0, 77, 152217.8121455568),
 (24.0, 72, 139662.3453070831),
 (25.0, 70, 195456.72236335883),
 (26.0, 66, 119779.06172651422),
 (27.0, 41, 123208.73926943116),
 (28.0, 29, 205518.7563429255),
 (29.0, 22, 104915.89454545455),
 (30.0, 15, 128179.07733333333),
 (31.0, 13, 179841.9923076923),
 (32.0, 2, 98898.16),
 (33.0, 1, 51954.83),
 (34.0, 2, 238749.075)]

12) 수취인(oldbalanceDest) - 거래금액 관계

In [12]:
%%sql
SELECT
    ROUND(oldbalanceDest / 1000000) AS dest_balance_bin,
    COUNT(*) AS cnt,
    AVG(amount) AS avg_amount
FROM PaySim
GROUP BY dest_balance_bin
ORDER BY dest_balance_bin;

 * sqlite:///paysim.db
Done.

[(0.0, 74873, 108186.41181045918),
 (1.0, 18948, 230910.3272155182),
 (2.0, 7479, 284278.13854199945),
 (3.0, 4155, 315608.93009806756),
 (4.0, 2475, 328655.8982189881),
 (5.0, 1733, 381559.31919021177),
 (6.0, 1122, 370542.0575747874),
 (7.0, 893, 385924.0350226364),
 (8.0, 657, 414231.65077167144),
 (9.0, 471, 443922.90654816426),
 (10.0, 391, 872066.442117359),
 (11.0, 321, 587770.517761013),
 (12.0, 278, 813038.2227007422),
 (13.0, 200, 735822.5852628993),
 (14.0, 135, 345266.5206134825),
 (15.0, 118, 1184095.8357485256),
 (16.0, 82, 576755.0126534166),
 (17.0, 64, 2308640.317321912),
 (18.0, 55, 511197.161733344),
 (19.0, 51, 1834396.0087955457),
 (20.0, 51, 2242265.042575374),
 (21.0, 40, 799264.4894077589),
 (22.0, 23, 2164374.1817391305),
 (23.0, 28, 1320197.8689416123),
 (24.0, 30, 969909.200600755),
 (25.0, 29, 269406.3983443481),
 (26.0, 34, 2375891.027254235),
 (27.0, 28, 367862.145238862),
 (28.0, 18, 1297305.3186128354),
 (29.0, 18, 2750438.8911111113),
 (30.0, 20, 1098960.38232313),
 (31.0, 13, 1599368.7715384616),
 (32.0, 14, 2948355.3180858404),
 (33.0, 8, 633141.50875),
 (34.0, 5, 3462316.312),
 (35.0, 4, 428029.53),
 (36.0, 5, 850265.2540000001),
 (37.0, 4, 214033.42),
 (38.0, 1, 95334.17),
 (39.0, 5, 239791.452),
 (40.0, 5, 146790.81),
 (41.0, 6, 1813146.3316666668),
 (42.0, 3, 337683.32333333336),
 (43.0, 5, 181438.91400000002),
 (44.0, 1, 2212.82),
 (45.0, 2, 248900.405),
 (46.0, 3, 12423532.626666667),
 (47.0, 4, 78418.58870735661),
 (48.0, 1, 74432.81),
 (49.0, 4, 1870064.3121142657),
 (50.0, 3, 1499206.2733333332),
 (52.0, 2, 77679.69),
 (53.0, 2, 14914856.225000001),
 (54.0, 1, 372725.78),
 (55.0, 5, 396186.29),
 (56.0, 1, 206684.92),
 (57.0, 1, 36973901.85),
 (58.0, 1, 73727.6),
 (60.0, 4, 199534.67250000002),
 (62.0, 2, 81160.175),
 (66.0, 1, 52502.4),
 (71.0, 1, 271274.13),
 (73.0, 1, 15137042.56),
 (74.0, 4, 126346.66742275747),
 (83.0, 1, 221874.44),
 (84.0, 1, 6549.08),
 (90.0, 1, 280597.77),
 (92.0, 1, 264347.77),
 (93.0, 1, 536428.18),
 (98.0, 1, 5680182.86),
 (116.0, 1, 81213.65),
 (121.0, 1, 1527210.19),
 (123.0, 1, 1537335.83),
 (128.0, 1, 474594.4),
 (139.0, 1, 193369.09),
 (145.0, 1, 297337.17),
 (154.0, 1, 227571.21),
 (176.0, 1, 36770.61),
 (236.0, 1, 36115106.82)]

---

### **✔️  5. 사용자 행동/계정 관련(signup_step, isActivation, isReferral)**

13) 가입 시점(signup_step)별 활성화 여부

In [14]:
%%sql
SELECT signup_step, isActivation, COUNT(*) AS cnt
FROM PaySim
GROUP BY signup_step, isActivation
limit 20;

 * sqlite:///paysim.db
Done.

[(1, 0, 22),
 (1, 1, 26),
 (2, 0, 4),
 (2, 1, 10),
 (3, 0, 6),
 (3, 1, 2),
 (4, 0, 9),
 (4, 1, 6),
 (5, 0, 12),
 (5, 1, 5),
 (6, 0, 11),
 (6, 1, 29),
 (7, 0, 49),
 (7, 1, 104),
 (8, 0, 157),
 (8, 1, 215),
 (9, 0, 437),
 (9, 1, 313),
 (10, 0, 363),
 (10, 1, 268)]

14) 추천 사용자(isReferral) 비율

In [15]:
%%sql
SELECT
    isReferral,
    COUNT(*) AS cnt
FROM PaySim
GROUP BY isReferral;

 * sqlite:///paysim.db
Done.

[(0, 109179), (1, 5778)]

15) Referral 유저의 Fraud 비율

In [16]:
%%sql
SELECT
    isReferral,
    SUM(isFraud) AS fraud_count,
    COUNT(*) AS total,
    ROUND(SUM(isFraud) * 100.0 / COUNT(*), 2) AS fraud_ratio
FROM PaySim
GROUP BY isReferral;

 * sqlite:///paysim.db
Done.

[(0, 163, 109179, 0.15), (1, 8, 5778, 0.14)]

---

### **✔️  6. 트랜잭션 흐름/step 기반 분석**

16) step별 거래 건수

In [25]:
%%sql
SELECT step, COUNT(*) AS cnt
FROM PaySim
GROUP BY step
ORDER BY cnt
limit 20;

 * sqlite:///paysim.db
Done.

[(27, 1),
 (28, 1),
 (29, 1),
 (51, 1),
 (52, 1),
 (76, 1),
 (77, 1),
 (100, 1),
 (101, 1),
 (123, 1),
 (125, 1),
 (147, 1),
 (195, 1),
 (223, 1),
 (268, 1),
 (272, 1),
 (291, 1),
 (294, 1),
 (319, 1),
 (340, 1)]

17) 시간(step)별 Fraud 발생량

In [23]:
%%sql
SELECT step, SUM(isFraud) AS fraud_count
FROM PaySim
GROUP BY step
ORDER BY step
limit 20;

 * sqlite:///paysim.db
Done.

[(1, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 1),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 1),
 (10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 2),
 (16, 0),
 (17, 0),
 (18, 0),
 (19, 0),
 (20, 0)]

---

### **✔️  7. 계좌명(nameOrig, nameDest) 분석**

18) 가장 많이 거래한 Origin ID

In [24]:
%%sql
SELECT nameOrig, COUNT(*) AS cnt
FROM PaySim
GROUP BY nameOrig
ORDER BY cnt DESC
LIMIT 20;

 * sqlite:///paysim.db
Done.

[('C999898340', 5),
 ('C999476777', 5),
 ('C997684410', 5),
 ('C996650520', 5),
 ('C996577814', 5),
 ('C995924343', 5),
 ('C995831718', 5),
 ('C9950119', 5),
 ('C993445479', 5),
 ('C991033178', 5),
 ('C990918366', 5),
 ('C989671438', 5),
 ('C989360776', 5),
 ('C985426754', 5),
 ('C982543356', 5),
 ('C982151360', 5),
 ('C981739096', 5),
 ('C981705872', 5),
 ('C979609238', 5),
 ('C979087661', 5)]

19) 목적지(nameDest) 상위 20

In [26]:
%%sql
SELECT nameDest, COUNT(*) AS cnt
FROM PaySim
GROUP BY nameDest
ORDER BY cnt DESC
LIMIT 20;

 * sqlite:///paysim.db
Done.

[('C756334542', 11),
 ('C530706181', 10),
 ('C2036393827', 10),
 ('C1568538856', 10),
 ('C681078805', 9),
 ('C220294170', 9),
 ('C16880623', 9),
 ('C702393884', 8),
 ('C626288798', 8),
 ('C357066329', 8),
 ('C225852166', 8),
 ('C2093063741', 8),
 ('C2091631147', 8),
 ('C1927098200', 8),
 ('C1520521350', 8),
 ('C1492359254', 8),
 ('C1461968662', 8),
 ('C136905374', 8),
 ('C1304776965', 8),
 ('C1206568552', 8)]

---

### **✔️  8. 잔액 불일치 체크 (이상치 탐색)**

20) oldbalanceOrg + amount ≠ newbalanceOrg

In [30]:
%%sql
SELECT *
FROM PaySim
WHERE ABS((oldbalanceOrg - amount) - newbalanceOrig) > 0.01
LIMIT 50;

 * sqlite:///paysim.db
Done.

[(278, 'CASH_IN', 330218.42, 'C632336343', 20866.0, 351084.42, 'C834976624', 452419.57, 122201.15, 0, 0, 278, 0, 0),
 (10, 'CASH_IN', 152264.21, 'C1746846248', 106589.0, 258853.21, 'C1607284477', 201303.01, 49038.8, 0, 0, 10, 0, 0),
 (403, 'TRANSFER', 1551760.63, 'C333676753', 0.0, 0.0, 'C1564353608', 3198359.45, 4750120.08, 0, 0, 403, 1, 0),
 (206, 'CASH_IN', 78172.3, 'C813403091', 2921331.58, 2999503.88, 'C1091768874', 415821.9, 337649.6, 0, 0, 206, 0, 0),
 (259, 'PAYMENT', 915.13, 'C2002954533', 0.0, 0.0, 'M290849763', 0.0, 0.0, 0, 0, 259, 1, 0),
 (188, 'CASH_OUT', 20603.87, 'C813757373', 0.0, 0.0, 'C823291717', 558068.66, 578672.53, 0, 0, 188, 0, 0),
 (139, 'CASH_OUT', 58605.72, 'C1850864812', 0.0, 0.0, 'C618657299', 585494.94, 644100.66, 0, 0, 139, 0, 0),
 (230, 'PAYMENT', 4865.11, 'C886849972', 0.0, 0.0, 'M623175144', 0.0, 0.0, 0, 0, 230, 1, 0),
 (544, 'CASH_OUT', 118131.63, 'C390714641', 0.0, 0.0, 'C366360355', 8131691.35, 8476246.86, 0, 0, 544, 0, 0),
 (45, 'CASH_OUT', 141100.88, 'C1514989792', 80506.0, 0.0, 'C409578677', 89384.09, 230484.96, 0, 0, 45, 0, 0),
 (163, 'CASH_OUT', 384177.48, 'C94444270', 40348.0, 0.0, 'C379896225', 0.0, 384177.48, 0, 0, 163, 0, 1),
 (211, 'CASH_OUT', 153486.36, 'C513018655', 20476.0, 0.0, 'C1302281681', 85173.16, 238659.53, 0, 0, 211, 0, 0),
 (302, 'CASH_OUT', 51042.59, 'C122114408', 184.0, 0.0, 'C705120650', 380143.14, 431185.74, 0, 0, 302, 0, 0),
 (18, 'PAYMENT', 48691.16, 'C1810046508', 0.0, 0.0, 'M487081598', 0.0, 0.0, 0, 0, 18, 1, 0),
 (322, 'PAYMENT', 36598.65, 'C1365498607', 8240.66, 0.0, 'M969218364', 0.0, 0.0, 0, 0, 322, 1, 0),
 (158, 'CASH_OUT', 124443.29, 'C12524561', 14236.0, 0.0, 'C579157353', 0.0, 124443.29, 0, 0, 158, 0, 0),
 (131, 'CASH_OUT', 510190.97, 'C1564771551', 57590.0, 0.0, 'C718731643', 115914.88, 626105.86, 0, 0, 131, 0, 0),
 (253, 'TRANSFER', 940927.27, 'C1346570604', 8568.0, 0.0, 'C1178934515', 0.0, 940927.27, 0, 0, 253, 1, 0),
 (132, 'CASH_OUT', 240156.34, 'C807101143', 0.0, 0.0, 'C1531623971', 2811902.28, 3052058.62, 0, 0, 132, 0, 0),
 (283, 'CASH_OUT', 44360.26, 'C346953986', 0.0, 0.0, 'C526046232', 282664.52, 327024.78, 0, 0, 283, 0, 0),
 (43, 'CASH_OUT', 338458.24, 'C25552315', 30283.0, 0.0, 'C75671301', 1055729.15, 1564103.49, 0, 0, 43, 0, 0),
 (642, 'CASH_IN', 311748.24, 'C200195468', 4279.0, 316027.24, 'C786997986', 27843.39, 0.0, 0, 0, 642, 0, 0),
 (326, 'PAYMENT', 26565.95, 'C1512675672', 0.0, 0.0, 'M1330826048', 0.0, 0.0, 0, 0, 326, 1, 1),
 (132, 'CASH_OUT', 6.57, 'C1286124147', 0.0, 0.0, 'C1885613878', 2909681.35, 2909687.93, 0, 0, 132, 0, 0),
 (37, 'CASH_IN', 23898.77, 'C1953063740', 50271.0, 74169.77, 'C212080696', 205872.37, 181973.6, 0, 0, 37, 0, 0),
 (9, 'CASH_OUT', 26360.78, 'C470767940', 365.0, 0.0, 'C598132143', 202458.96, 244056.68, 0, 0, 9, 0, 0),
 (157, 'CASH_IN', 192935.2, 'C709178804', 51937.0, 244872.2, 'C1163988187', 171874.85, 0.0, 0, 0, 157, 0, 0),
 (406, 'TRANSFER', 18801.43, 'C920671013', 126.0, 0.0, 'C1418884586', 0.0, 18801.43, 0, 0, 406, 1, 0),
 (235, 'PAYMENT', 3516.08, 'C633099116', 0.0, 0.0, 'M2117267163', 0.0, 0.0, 0, 0, 235, 1, 0),
 (346, 'PAYMENT', 6987.8, 'C220437223', 0.0, 0.0, 'M1751641542', 0.0, 0.0, 0, 0, 346, 1, 0),
 (19, 'CASH_IN', 8808.73, 'C1717919401', 50485.0, 59293.73, 'C645140627', 177448.43, 168639.7, 0, 0, 19, 0, 0),
 (208, 'PAYMENT', 24649.07, 'C1353964860', 0.0, 0.0, 'M1059671726', 0.0, 0.0, 0, 0, 208, 1, 0),
 (332, 'CASH_OUT', 97562.73, 'C1894828300', 5396.0, 0.0, 'C1975390043', 2455585.33, 2553148.05, 0, 0, 332, 0, 0),
 (139, 'TRANSFER', 598680.17, 'C544409289', 45059.0, 0.0, 'C956338890', 2559233.0, 3157913.17, 0, 0, 139, 1, 0),
 (304, 'CASH_OUT', 218659.82, 'C88319926', 1005.0, 0.0, 'C1971781194', 16320325.66, 16592681.56, 0, 0, 304, 0, 0),
 (686, 'CASH_IN', 304408.97, 'C893917810', 4276845.77, 4581254.74, 'C1327824794', 1443186.93, 1314479.93, 0, 0, 686, 0, 0),
 (226, 'CASH_OUT', 176016.04, 'C800760258', 0.0, 0.0, 'C358043414', 12916654.7, 13005481.5, 0, 0, 226, 0, 0),
 (201, 'PAYMENT', 11605.7, 'C484951468', 0.0, 0.0, 'M1504624467', 0.0, 0.0, 0, 0, 201, 1, 0),
 (14, 'CASH_IN', 234850.43, 'C982073663', 669990.79, 904841.22, 'C1216254870', 298639.42, 49936.17, 0, 0, 14, 0, 0),
 (323, 'CASH_OUT', 186549.79, 'C1647129298', 0.0, 0.0, 'C1714837024', 242473.16, 429022.95, 0, 0, 323, 0, 1),
 (225, 'CASH_OUT', 79042.15, 'C2086229320', 6064.0, 0.0, 'C1654662784', 410360.71, 489402.86, 0, 0, 225, 0, 0),
 (399, 'CASH_IN', 123326.84, 'C979213321', 5477362.0, 5600688.84, 'C787242927', 3470716.16, 3347389.32, 0, 0, 399, 0, 0),
 (373, 'PAYMENT', 23480.16, 'C1099535493', 5309.0, 0.0, 'M933507080', 0.0, 0.0, 0, 0, 373, 1, 0),
 (179, 'CASH_IN', 195205.19, 'C2147063789', 1961856.75, 2157061.94, 'C1021587874', 1150566.93, 955361.74, 0, 0, 179, 0, 0),
 (544, 'CASH_OUT', 145319.54, 'C237037918', 8056.0, 0.0, 'C95318372', 696100.99, 841420.53, 0, 0, 544, 0, 0),
 (369, 'PAYMENT', 14270.03, 'C1496903190', 3309.0, 0.0, 'M946866772', 0.0, 0.0, 0, 0, 369, 1, 0),
 (275, 'PAYMENT', 6851.17, 'C1051106607', 0.0, 0.0, 'M1348761534', 0.0, 0.0, 0, 0, 275, 1, 0),
 (396, 'CASH_IN', 296959.67, 'C731717743', 10609.0, 307568.67, 'C148906605', 0.0, 0.0, 0, 0, 396, 0, 1),
 (304, 'CASH_IN', 166630.9, 'C1410677661', 10944.0, 177574.9, 'C704312950', 240525.0, 73894.11, 0, 0, 304, 0, 0),
 (162, 'CASH_IN', 165135.41, 'C677811242', 187326.54, 352461.95, 'C788874634', 190273.97, 25138.56, 0, 0, 162, 0, 1)]

21) oldbalanceDest + amount ≠ newbalanceDest

In [31]:
%%sql
SELECT *
FROM PaySim
WHERE ABS((oldbalanceDest + amount) - newbalanceDest) > 0.01
LIMIT 50;

 * sqlite:///paysim.db
Done.

[(278, 'CASH_IN', 330218.42, 'C632336343', 20866.0, 351084.42, 'C834976624', 452419.57, 122201.15, 0, 0, 278, 0, 0),
 (15, 'PAYMENT', 11647.08, 'C1264712553', 30370.0, 18722.92, 'M215391829', 0.0, 0.0, 0, 0, 15, 1, 0),
 (10, 'CASH_IN', 152264.21, 'C1746846248', 106589.0, 258853.21, 'C1607284477', 201303.01, 49038.8, 0, 0, 10, 0, 0),
 (206, 'CASH_IN', 78172.3, 'C813403091', 2921331.58, 2999503.88, 'C1091768874', 415821.9, 337649.6, 0, 0, 206, 0, 0),
 (259, 'PAYMENT', 915.13, 'C2002954533', 0.0, 0.0, 'M290849763', 0.0, 0.0, 0, 0, 259, 1, 0),
 (230, 'PAYMENT', 4865.11, 'C886849972', 0.0, 0.0, 'M623175144', 0.0, 0.0, 0, 0, 230, 1, 0),
 (544, 'CASH_OUT', 118131.63, 'C390714641', 0.0, 0.0, 'C366360355', 8131691.35, 8476246.86, 0, 0, 544, 0, 0),
 (45, 'CASH_OUT', 141100.88, 'C1514989792', 80506.0, 0.0, 'C409578677', 89384.09, 230484.96, 0, 0, 45, 0, 0),
 (211, 'CASH_OUT', 153486.36, 'C513018655', 20476.0, 0.0, 'C1302281681', 85173.16, 238659.53, 0, 0, 211, 0, 0),
 (302, 'CASH_OUT', 51042.59, 'C122114408', 184.0, 0.0, 'C705120650', 380143.14, 431185.74, 0, 0, 302, 0, 0),
 (18, 'PAYMENT', 48691.16, 'C1810046508', 0.0, 0.0, 'M487081598', 0.0, 0.0, 0, 0, 18, 1, 0),
 (322, 'PAYMENT', 36598.65, 'C1365498607', 8240.66, 0.0, 'M969218364', 0.0, 0.0, 0, 0, 322, 1, 0),
 (131, 'CASH_OUT', 510190.97, 'C1564771551', 57590.0, 0.0, 'C718731643', 115914.88, 626105.86, 0, 0, 131, 0, 0),
 (43, 'CASH_OUT', 338458.24, 'C25552315', 30283.0, 0.0, 'C75671301', 1055729.15, 1564103.49, 0, 0, 43, 0, 0),
 (642, 'CASH_IN', 311748.24, 'C200195468', 4279.0, 316027.24, 'C786997986', 27843.39, 0.0, 0, 0, 642, 0, 0),
 (164, 'DEBIT', 151.58, 'C1576094043', 10659.0, 10507.42, 'C1308477441', 50706.33, 50857.9, 0, 0, 164, 0, 0),
 (326, 'PAYMENT', 26565.95, 'C1512675672', 0.0, 0.0, 'M1330826048', 0.0, 0.0, 0, 0, 326, 1, 1),
 (132, 'CASH_OUT', 6.57, 'C1286124147', 0.0, 0.0, 'C1885613878', 2909681.35, 2909687.93, 0, 0, 132, 0, 0),
 (37, 'CASH_IN', 23898.77, 'C1953063740', 50271.0, 74169.77, 'C212080696', 205872.37, 181973.6, 0, 0, 37, 0, 0),
 (9, 'CASH_OUT', 26360.78, 'C470767940', 365.0, 0.0, 'C598132143', 202458.96, 244056.68, 0, 0, 9, 0, 0),
 (157, 'CASH_IN', 192935.2, 'C709178804', 51937.0, 244872.2, 'C1163988187', 171874.85, 0.0, 0, 0, 157, 0, 0),
 (235, 'PAYMENT', 3516.08, 'C633099116', 0.0, 0.0, 'M2117267163', 0.0, 0.0, 0, 0, 235, 1, 0),
 (346, 'PAYMENT', 6987.8, 'C220437223', 0.0, 0.0, 'M1751641542', 0.0, 0.0, 0, 0, 346, 1, 0),
 (19, 'CASH_IN', 8808.73, 'C1717919401', 50485.0, 59293.73, 'C645140627', 177448.43, 168639.7, 0, 0, 19, 0, 0),
 (208, 'PAYMENT', 24649.07, 'C1353964860', 0.0, 0.0, 'M1059671726', 0.0, 0.0, 0, 0, 208, 1, 0),
 (332, 'CASH_OUT', 97562.73, 'C1894828300', 5396.0, 0.0, 'C1975390043', 2455585.33, 2553148.05, 0, 0, 332, 0, 0),
 (304, 'CASH_OUT', 218659.82, 'C88319926', 1005.0, 0.0, 'C1971781194', 16320325.66, 16592681.56, 0, 0, 304, 0, 0),
 (686, 'CASH_IN', 304408.97, 'C893917810', 4276845.77, 4581254.74, 'C1327824794', 1443186.93, 1314479.93, 0, 0, 686, 0, 0),
 (139, 'PAYMENT', 5090.28, 'C1405934398', 50617.0, 45526.72, 'M839389189', 0.0, 0.0, 0, 0, 139, 1, 0),
 (226, 'CASH_OUT', 176016.04, 'C800760258', 0.0, 0.0, 'C358043414', 12916654.7, 13005481.5, 0, 0, 226, 0, 0),
 (201, 'PAYMENT', 11605.7, 'C484951468', 0.0, 0.0, 'M1504624467', 0.0, 0.0, 0, 0, 201, 1, 0),
 (14, 'CASH_IN', 234850.43, 'C982073663', 669990.79, 904841.22, 'C1216254870', 298639.42, 49936.17, 0, 0, 14, 0, 0),
 (138, 'PAYMENT', 5055.72, 'C315487150', 108809.83, 103754.11, 'M1717055694', 0.0, 0.0, 0, 0, 138, 1, 1),
 (41, 'PAYMENT', 12020.77, 'C1235787929', 639020.83, 627000.06, 'M1043686153', 0.0, 0.0, 0, 0, 41, 1, 0),
 (399, 'CASH_IN', 123326.84, 'C979213321', 5477362.0, 5600688.84, 'C787242927', 3470716.16, 3347389.32, 0, 0, 399, 0, 0),
 (120, 'PAYMENT', 14241.21, 'C1653380908', 109207.0, 94965.79, 'M77882578', 0.0, 0.0, 0, 0, 120, 1, 0),
 (373, 'PAYMENT', 23480.16, 'C1099535493', 5309.0, 0.0, 'M933507080', 0.0, 0.0, 0, 0, 373, 1, 0),
 (179, 'CASH_IN', 195205.19, 'C2147063789', 1961856.75, 2157061.94, 'C1021587874', 1150566.93, 955361.74, 0, 0, 179, 0, 0),
 (369, 'PAYMENT', 14270.03, 'C1496903190', 3309.0, 0.0, 'M946866772', 0.0, 0.0, 0, 0, 369, 1, 0),
 (275, 'PAYMENT', 6851.17, 'C1051106607', 0.0, 0.0, 'M1348761534', 0.0, 0.0, 0, 0, 275, 1, 0),
 (396, 'CASH_IN', 296959.67, 'C731717743', 10609.0, 307568.67, 'C148906605', 0.0, 0.0, 0, 0, 396, 0, 1),
 (304, 'CASH_IN', 166630.9, 'C1410677661', 10944.0, 177574.9, 'C704312950', 240525.0, 73894.11, 0, 0, 304, 0, 0),
 (162, 'CASH_IN', 165135.41, 'C677811242', 187326.54, 352461.95, 'C788874634', 190273.97, 25138.56, 0, 0, 162, 0, 1),
 (304, 'PAYMENT', 1704.03, 'C74556831', 0.0, 0.0, 'M1951402325', 0.0, 0.0, 0, 0, 304, 1, 0),
 (22, 'CASH_IN', 390903.09, 'C41573174', 7947520.93, 8338424.03, 'C860929789', 707650.38, 316747.29, 0, 0, 22, 0, 0),
 (229, 'PAYMENT', 21061.24, 'C40966245', 0.0, 0.0, 'M1653653617', 0.0, 0.0, 0, 0, 229, 1, 0),
 (259, 'PAYMENT', 8129.46, 'C40866646', 0.0, 0.0, 'M182944108', 0.0, 0.0, 0, 0, 259, 1, 0),
 (234, 'PAYMENT', 6492.32, 'C1321671140', 252978.2, 246485.88, 'M533921438', 0.0, 0.0, 0, 0, 234, 1, 0),
 (139, 'CASH_IN', 147351.57, 'C710908433', 6185044.14, 6332395.71, 'C508488713', 7292368.53, 7145016.96, 0, 0, 139, 0, 0),
 (229, 'TRANSFER', 21362.19, 'C1977482177', 0.0, 0.0, 'C1554823726', 102800.19, 124162.37, 0, 0, 229, 1, 0)]

---

### **✔️  9. 고위험 패턴 탐색**

22) 잔액이 없는데 큰 금액 거래

In [33]:
%%sql
SELECT *
FROM PaySim
WHERE oldbalanceOrg = 0 AND amount > 10000
limit 20;

 * sqlite:///paysim.db
Done.

[(403, 'TRANSFER', 1551760.63, 'C333676753', 0.0, 0.0, 'C1564353608', 3198359.45, 4750120.08, 0, 0, 403, 1, 0),
 (188, 'CASH_OUT', 20603.87, 'C813757373', 0.0, 0.0, 'C823291717', 558068.66, 578672.53, 0, 0, 188, 0, 0),
 (139, 'CASH_OUT', 58605.72, 'C1850864812', 0.0, 0.0, 'C618657299', 585494.94, 644100.66, 0, 0, 139, 0, 0),
 (544, 'CASH_OUT', 118131.63, 'C390714641', 0.0, 0.0, 'C366360355', 8131691.35, 8476246.86, 0, 0, 544, 0, 0),
 (18, 'PAYMENT', 48691.16, 'C1810046508', 0.0, 0.0, 'M487081598', 0.0, 0.0, 0, 0, 18, 1, 0),
 (132, 'CASH_OUT', 240156.34, 'C807101143', 0.0, 0.0, 'C1531623971', 2811902.28, 3052058.62, 0, 0, 132, 0, 0),
 (283, 'CASH_OUT', 44360.26, 'C346953986', 0.0, 0.0, 'C526046232', 282664.52, 327024.78, 0, 0, 283, 0, 0),
 (326, 'PAYMENT', 26565.95, 'C1512675672', 0.0, 0.0, 'M1330826048', 0.0, 0.0, 0, 0, 326, 1, 1),
 (208, 'PAYMENT', 24649.07, 'C1353964860', 0.0, 0.0, 'M1059671726', 0.0, 0.0, 0, 0, 208, 1, 0),
 (226, 'CASH_OUT', 176016.04, 'C800760258', 0.0, 0.0, 'C358043414', 12916654.7, 13005481.5, 0, 0, 226, 0, 0),
 (201, 'PAYMENT', 11605.7, 'C484951468', 0.0, 0.0, 'M1504624467', 0.0, 0.0, 0, 0, 201, 1, 0),
 (323, 'CASH_OUT', 186549.79, 'C1647129298', 0.0, 0.0, 'C1714837024', 242473.16, 429022.95, 0, 0, 323, 0, 1),
 (229, 'PAYMENT', 21061.24, 'C40966245', 0.0, 0.0, 'M1653653617', 0.0, 0.0, 0, 0, 229, 1, 0),
 (304, 'CASH_OUT', 16242.22, 'C1322294401', 0.0, 0.0, 'C160609026', 1401840.75, 1418082.97, 0, 0, 304, 0, 0),
 (352, 'CASH_OUT', 286864.49, 'C998029122', 0.0, 0.0, 'C1563899518', 598674.63, 885539.12, 0, 0, 352, 0, 0),
 (229, 'TRANSFER', 21362.19, 'C1977482177', 0.0, 0.0, 'C1554823726', 102800.19, 124162.37, 0, 0, 229, 1, 0),
 (469, 'PAYMENT', 38509.2, 'C174212239', 0.0, 0.0, 'M1265795703', 0.0, 0.0, 0, 0, 469, 1, 0),
 (159, 'CASH_OUT', 16500.28, 'C731563967', 0.0, 0.0, 'C914957636', 1039511.46, 1056011.74, 0, 0, 159, 0, 0),
 (324, 'PAYMENT', 25380.11, 'C1515172243', 0.0, 0.0, 'M849428673', 0.0, 0.0, 0, 0, 324, 1, 0),
 (43, 'TRANSFER', 406390.63, 'C449334349', 0.0, 0.0, 'C1477190619', 596285.7, 1002676.33, 0, 0, 43, 1, 0)]

23) isActivation 후 즉시 Fraud

In [35]:
%%sql
SELECT *
FROM PaySim
WHERE isActivation = 1 AND isFraud = 1
limit 20;

 * sqlite:///paysim.db
Done.

[(212, 'TRANSFER', 4953893.08, 'C728984460', 4953893.08, 4953893.08, 'C639921569', 0.0, 0.0, 1, 1, 212, 1, 0),
 (223, 'TRANSFER', 334890.91, 'C1711836423', 334890.91, 0.0, 'C1676868220', 0.0, 0.0, 1, 0, 223, 1, 1),
 (621, 'TRANSFER', 2060748.45, 'C1129518026', 2060748.45, 0.0, 'C1288050386', 0.0, 0.0, 1, 0, 621, 1, 0),
 (194, 'TRANSFER', 1501297.88, 'C1043170433', 1501297.88, 0.0, 'C768896772', 0.0, 0.0, 1, 0, 194, 1, 0),
 (672, 'TRANSFER', 330756.72, 'C2036720607', 330756.72, 0.0, 'C2048695496', 0.0, 0.0, 1, 0, 672, 1, 0),
 (125, 'TRANSFER', 621569.61, 'C288917283', 621569.61, 0.0, 'C652970534', 0.0, 0.0, 1, 0, 125, 1, 0),
 (684, 'TRANSFER', 537025.01, 'C1744276151', 537025.01, 0.0, 'C38221870', 0.0, 0.0, 1, 0, 684, 1, 0),
 (659, 'TRANSFER', 50577.26, 'C1316214248', 50577.26, 0.0, 'C258297830', 0.0, 0.0, 1, 0, 659, 1, 0),
 (613, 'TRANSFER', 1892137.66, 'C1387416875', 1892137.66, 0.0, 'C1999528314', 0.0, 0.0, 1, 0, 613, 1, 0),
 (413, 'TRANSFER', 115085.31, 'C2039186549', 115085.31, 0.0, 'C544794295', 0.0, 0.0, 1, 0, 413, 1, 0),
 (261, 'TRANSFER', 591032.52, 'C1420583441', 591032.52, 0.0, 'C1377219388', 0.0, 0.0, 1, 0, 261, 1, 0),
 (60, 'TRANSFER', 45807.51, 'C958487787', 45807.51, 0.0, 'C218393296', 0.0, 0.0, 1, 0, 60, 1, 0),
 (53, 'TRANSFER', 931684.75, 'C101455775', 931684.75, 0.0, 'C1834538811', 0.0, 0.0, 1, 0, 53, 1, 1),
 (139, 'TRANSFER', 11653.98, 'C1377280897', 11653.98, 0.0, 'C1616326954', 0.0, 0.0, 1, 0, 139, 1, 0),
 (21, 'TRANSFER', 158299.34, 'C278180302', 158299.34, 0.0, 'C1551346623', 0.0, 0.0, 1, 0, 21, 1, 1),
 (181, 'TRANSFER', 252189.32, 'C636129537', 252189.32, 0.0, 'C1515281371', 0.0, 0.0, 1, 0, 181, 1, 0),
 (9, 'TRANSFER', 1154353.99, 'C670587931', 1154353.99, 0.0, 'C150406565', 0.0, 10872.9, 1, 0, 9, 1, 0),
 (177, 'TRANSFER', 382960.64, 'C881672878', 382960.64, 0.0, 'C5616107', 0.0, 0.0, 1, 0, 177, 1, 1),
 (699, 'TRANSFER', 148714.54, 'C516969543', 148714.54, 0.0, 'C2034859520', 0.0, 0.0, 1, 0, 699, 1, 0),
 (643, 'TRANSFER', 161147.38, 'C215087680', 161147.38, 0.0, 'C2112991793', 0.0, 0.0, 1, 0, 643, 1, 0)]

---

### **✔️  10. 전체 요약 대시보드 수준 (핵심 수치 한 번에)**

24) 전체 요약(코어 메트릭)

In [36]:
%%sql
SELECT
    COUNT(*) AS total_rows,
    SUM(isFraud) AS fraud_rows,
    SUM(isFlaggedFraud) AS flagged_rows,
    AVG(amount) AS avg_amount,
    MAX(amount) AS max_amount,
    AVG(oldbalanceOrg) AS avg_old_org,
    AVG(oldbalanceDest) AS avg_old_dest
FROM PaySim;

 * sqlite:///paysim.db
Done.

[(114957, 171, 1, 180774.60720133607, 36973901.85, 844075.735727881, 1102911.619571927)]

---